[MONGODB]
Host = localhost:27017

[CREDENTIALS]
ClientID = your client id
ClientSecret = your client secret
UserAgent = your user agent
Username = your user name
Password = your password

[REDDIT]
Subreddit = leagueoflegends
MaxPolarity = -0.2